<div  ng-controller="EditController" class="container">
{{member}}
    <form class="form-horizontal" role="form">

      <div class="form-group">
        <label for="inputEmail3" class="col-sm-2 control-label">Name</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" ng-model="member.user">
        </div>
      </div>


      <div class="form-group">
        <label for="inputPassword3" class="col-sm-2 control-label">Phone</label>
        <div class="col-sm-10">
          <input type="text" class="form-control" ng-model="member.phone">
        </div>
      </div>


      <div class="form-group">
        <div class="col-sm-offset-2 col-sm-10">
          <button type="submit" class="btn btn-primary" ng-click="Edituser(member)" ui-sref="state1">Edit</button>
        </div>
      </div>
    </form>

  </div>